.navigationContainer {
  display: flex;
  gap: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .navigationContainer {
    gap: 24px;
    margin-right: 24px;
  }
}

.active {
  color: #646cff;
}

.link:hover,
.link:focus {
  color: #646cff;
  transition: color 200ms linear;
}
