.navigationContainer {
  display: flex;
  gap: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .navigationContainer {
    gap: 24px;
    margin-right: 24px;
  }
}

.active {
  color: #969696;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}
