.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 16px;
}

.item {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 274px;
  height: 105px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 380px;
    font-size: 16px;
  }
}
