.container {
  background-color: #646cff;
  padding: 48px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 48px;
  }
}

.title {
  margin: 0 0 48px;
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 64px;
  }
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid #ffffff41;
}

.text {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 20px;
  }
}

.icon {
  width: 48px;
  height: 48px;
}

.list {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconContainer {
  width: 16px;
  height: 16px;
}
